@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Futura-Condensed';
    src: url('./assets/fonts/Futura-Condensed-Extra-Bold.otf') format('opentype');
}
  


@layer base {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Futura-Condensed';
      font-size: 1rem;
      font-weight: 100;
      word-spacing: normal;
      line-height: 1.5em;
    }
}

body {
    @apply bg-background text-color;
}

.container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}